/* Classes.css */

.class-title {
  text-align: center;
  align-items: center;
  font-size: 300%;
  background-color: #4CAF50;
  color: black;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-top: 10px;  
}

.top-section {
  background-color: rgb(234,122,183);
  text-align: center;
  align-items: center;
  margin-top: 10px;
}

.title-active-class {
  margin-top: 10px;
  font-weight: bold;
  font-size: 350%;
}

.title-time-frame {
  text-align: center;
  align-items: center;
  font-size: 250%;
  color: navy;
  padding: 0; /* Remove default padding */
  font-weight: bold;
  margin-bottom: 10px;
  background-color: rgb(234,122,183);
}

/* Base class for sliding effect */
.fade {
  transition: transform 0.5s ease-in-out; /* Sliding transition */
}


/* Slide-in (to make the element visible) */
.fade-in {
  transform: translateX(0); /* Position the element fully in view */
}

/* Slide-out (moves the element out of the view) */
.fade-out {
  transform: translateX(-100%); /* Slide out to the left */
}

/* Sliding in from the right (when the new content enters the view) */
.fade-slide-in {
  transform: translateX(100%); /* Start off-screen to the right */
}


.class-name {
  background-color: rgb(41, 73, 73);
  white-space: normal;
  padding-left: 10px;
}

.teacher-name {
  background-color: rgb(21, 36, 36);
  white-space: normal;
}

.sidebar-main table {
  width: 100%;
  display: block;
  white-space: normal;
}

/* Mobile styles for the table inside Classes component only */
@media (max-width: 768px) {
  /* Target only tables inside the sidebar or specific to Classes */
  .sidebar-main table {
    width: 100%;
    table-layout: fixed;
    overflow-x: auto; /* Allow horizontal scrolling */
    display: block;
  }

  .top-section {
    margin-top: 0px;
  }

  .title-active-class {
    margin-top: 0px;
  }

  .title-time-frame {
    margin-bottom: 0px;
  }

  .class-title {
    margin-top: 0px;  
  }
  .sidebar-main th, .sidebar-main td {
    font-size: 0.9rem; /* Decrease font size on mobile */
    padding: 6px; /* Decrease padding */   
  }

  /* Ensure that "כיתה", "מורה", and the first column are visible */
  .sidebar-main th:nth-child(1), .sidebar-main td:nth-child(1),  /* First column (time column, זמנים) */
  .sidebar-main th:nth-child(2), .sidebar-main td:nth-child(2),  /* Second column (כיתה) */
  .sidebar-main th:nth-child(3), .sidebar-main td:nth-child(3) { /* Third column (מורה) */
    display: table-cell;
  }

  /* Hide other columns to save space */
  .sidebar-main th:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)),
  .sidebar-main td:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
    display: none;
  }
}
